<div> info validation:{{this.myPut.valid}}</div>
<form [formGroup]="myPut">

  <label>
    name
    <input type="text" formControlName="name">
  </label>
  <label>
    roomNumber
    <input type="number" formControlName="roomNumbers">
  </label>
  <label>
    pool?
    <input type="checkbox" formControlName="pool">
  </label>
  <button  (click)="apdateHotel()">check</button>
</form>
