
<table class="table">
  <thead class="thead-dark">
      <tr >
        <th>le nom de l'hotel</th>
        <th> picine</th>
        <th>nombre de chambres</th>
        <th>detail de l'hotel</th>
        <th>modifier l'hotel</th>
        <th>suprission</th>
        <th><a [routerLink]="'/poste'"> Ajouter un hotel</a></th>
      </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hotel of hotels">
    <td>{{hotel.name}}</td>
    <td>{{hotel.pool}}</td>
    <td>{{hotel.roomNumbers}}</td>
    <td><a [routerLink]="hotel.id + '/detail'">Detail</a></td>
    <td><a [routerLink]="hotel.id + '/edite'">modifie</a></td>
    <td><a [routerLink]="hotel.id + '/delet'"> suprimer</a></td>
  </tr>
  </tbody>
</table>
